<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handict.superapp_mobile">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--友盟统计-->
    <uses-sdk android:minSdkVersion="16"></uses-sdk>
    <application
        android:icon="@mipmap/icon"
        android:label="爱手工"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        >
        <activity android:name=".MainActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity1"/>
        <activity android:name=".SkinActivity"
            android:configChanges="orientation|keyboard|locale|screenSize|layoutDirection"
            ></activity>
        <!--Unity-->
        <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        <!--友盟统计-->
        <meta-data android:value="59e8062ab27b0a2ac70002bf" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>
        <!--微信支付-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <activity
            android:name="com.handict.superapp_mobile.wx.ShowFromWXActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic"/>

        <activity
            android:name="com.handict.superapp_mobile.wx.PayActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic"/>

        <receiver
            android:name="com.handict.superapp_mobile.wx.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

    </application>

</manifest>